.fake
output
tools/csharpformat/obj
tools/csharpformat/bin
source/blog/abstracts/cached/*
source/blog/2013/abstracts/cached/*
source/blog/2014/abstracts/cached/*
source/blog/2015/abstracts/cached/*
source/blog/2016/abstracts/cached/*
source/blog/2017/abstracts/cached/*
*.suo
*.bak
packages/
tools/FsBlogLib/bin
tools/FsBlogLib/obj
.paket/paket.exe
.ionide.debug
