<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>@Title</title>
    <link rel="stylesheet" href="/content/css/style.css" />
    <link rel="stylesheet" href="/content/css/tooltip.css" />
    <link rel="stylesheet" href="/content/css/tomorrow.css" />
    <link rel="stylesheet" href="/content/css/app.css" />
    <script type="text/javascript" src="/content/js/prettify.js"></script>
    <script type="text/javascript" src="/content/js/tooltip.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  </head>
  <body onload="prettyPrint()">
    <div id="container">
      <header><inner><h1><a style="padding-right: 50px;" href="/">&laquo;</a>@Title</h1></inner></header>
      <content>@RenderBody()</content>
      <footer>
        <inner>
          t:<a target="_blank" href="http://www.twitter.com/ikeeex">@@ikeeex</a>
          g:<a target="_blank" href="http://www.github.com/aktowns">aktowns</a>
          <br />
          <br />
        </inner>
      </footer>
    </div>
  </body>
</html>
