@{ Layout = "academic"; }

<div class="row academic paper">
  <div class="large-8 columns main-content">
  <content>
    @RenderBody()
  </content>
  </div>
  <div class="large-4 columns" id="right-bar">
    @RenderPart("calendar", Model)

    <h3>Welcome!</h3>
    <img src="@Model.Root/img/tomas.jpg" alt="Tomas Petricek" style="float:right;margin:10px 0px 10px 10px;" />

    <p>I'm a third year PhD Student at the <a href="http://www.cam.ac.uk">University of Cambridge</a>.
      My supervisors are <a href="http://www.cl.cam.ac.uk/~am21/">Alan Mycroft</a> from the Computer 
      Lab and <a href="http://research.microsoft.com/en-us/people/dsyme/">Don Syme</a>.
      Before joining the Computer Laboratory, I studied at the <a href="http://www.mff.cuni.cz">Faculty of Mathematics and 
      Physics</a> in Prague and I did two internships at Microsoft Research. 
      I also did an internship at BlueMountain Capital, working on 
      <a href="http://bluemountaincapital.github.io/Deedle">data science library Deedle</a>.
    </p>
    <br />

    <h3>Contact info</h3>        
    <ul>
      <li>Connect via twitter: <a href="http://twitter.com/tomaspetricek">@@tomaspetricek</a>  </li>
      <li>Email me at: <a href="tomas.petricek@cl.cam.ac.uk">tomas.petricek@cl.cam.ac.uk</a>  </li>
      <li>For more see my: <a href="https://github.com/tpetricek">GitHub</a> | <a href="http://www.linkedin.com/in/tomaspetricek">LinkedIn</a> | <a href="http://lanyrd.com/profile/tomasp/">Lanyrd</a></li>
    </ul>    
    <br />
  </div>
</div>