@{ Layout = "default"; }

<div class="row">
	<div class="large-8 columns main-content">
    <content>
    @RenderBody()
    </content>

  </div>
	<div class="large-4 columns">
    <div style="background:black; text-align:center;padding:20px;">
      <img src="http://tomasp.net/calendar/2013/august_sm.jpg" />
    </div>

		<h4>Right panel</h4>
	</div>
</div>
