@{ Layout = "page"; }
@RenderBody()

<div class="row">
  <div class="small-6 columns"><p class="post-discuss">
		Discuss <a href="http://twitter.com/tomaspetricek">on Twitter</a> or <script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=0"></script>.<br />
		Send corrections via <a href="https://github.com/tpetricek/TomaspNet.Website">GitHub pull requests</a>.
	</p></div>
  <div class="small-6 columns">

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_twitter"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_hackernews"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = { "data_track_addressbar": false };</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521c32162e6001a0"></script>
<!-- AddThis Button END -->

<p class="post-meta">
  <span><strong>Published</strong>: @DateTime.Parse(Date).ToString("dddd, d MMMM yyyy, h:mm tt", System.Globalization.CultureInfo.GetCultureInfo("en-GB"))</span><br />      
  <span class="tags"><strong>Tags</strong>: @Tags</span>
</p>

  </div>
</div>
