@{ 
  Layout = "default";
  Title = "Tomas Petricek's virtual universe";
  Description = "Sorry, this page does not exist.";
}

<div class="row main-content">
  <div class="large-3 columns">&#160;</div>
  <div class="large-6 columns">
    <h1 style="text-align:center;font-size:250%;margin:60px 0px 30px 0px"><strong>404</strong>: FileNotFoundException</h1>
    <p style="font-size:110%;margin-bottom:100px">
      Bummer! This page does not exist. Try looking at the archives, going to the homepage or
      use your favorite search engine to find it. If you're really sure that something should
      be here, then you can get in touch (see below) and let me know...
    </p>
  </div>
  <div class="large-3 columns">&#160;</div>
</div>